base_url_parameters:
  expanded: 1
  format: JSON
  filter_limit: -1
  module: API
  period: day
  
requests:
  visits:
    url_parameters:
      method: API.get
      format_metrics: 1
    need_transpose: True
    index_column_new_name: date
  pages:
    url_parameters:
      method: Actions.getPageUrls
      flat: 1
    date_range: True
  referrers:
    url_parameters:
      method: Referrers.getReferrerType
      format_metrics: 1
    date_range: True
  store:
    url_parameters:
      method: CustomDimensions.getCustomDimension
      idDimension: 1
      format_metrics: 1
    date_range: True
  country:
    url_parameters:
      method: UserCountry.getCountry
      format_metrics: 1
    date_range: True
  region:
    url_parameters:
      method: UserCountry.getRegion
      format_metrics: 1
    date_range: True
  devicetype:
    url_parameters:
      method: DevicesDetection.getType
      format_metrics: 1
    date_range: True
  prepurchase:
    url_parameters:
      method: Events.getCategory
      filter_pattern: prepurchase
      flat: 1
      format_metrics: 1
    date_range: True
  contact:
    url_parameters:
      method: Events.getCategory
      filter_pattern: '^contact'
      flat: 1
      format_metrics: 1
    date_range: True
  orders:
    url_parameters:
      method: Goals.get
      idGoal: ecommerceOrder
      format_metrics: 1
      showAllGoalSpecificMetrics: 1
    need_transpose: True
    index_column_new_column: date
  products:
    url_parameters:
      method: Goals.getItemsName
      format_metrics: 1
    date_range: True

